.custom-footer {
  background-color: #112c52 !important;
  color: #f9fafb !important;
  margin-top: auto;
}

.footer-text {
  color: #9ca3af !important;
}

.footer-link {
  color: #9ca3af !important;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-link:hover {
  color: #ffffff !important;
}
